{{#partial "contenido"}}
<h2 class="titulo-seccion">Sugerencias para el evento: {{evento.descripcion}}</h2>
{{#if huboSugerenciaAceptada}}
<div class="alert alert-success" role="alert">
	<div>La sugerencia ha sido aceptada. Para terminar de aceptar y/o rechazar haga click <a id="activadorAviso">
			<a href="/quemepongo/eventos/sugerencias/rechazarPendientes?idEvento={{evento.id}}"><button type="submit"
					class="btn btn-primary" data-toggle="tooltip" data-placement="right"
					title="Las sugerencias que queden pendientes seran consideradas rechazadas">
					aqui
				</button></a>
	</div>
</div>
{{/if}}
{{#if huboSugerenciaRechazada}}
<div class="alert alert-success" role="alert">
	<div>La sugerencia ha sido rechazada. Para terminar de aceptar y/o rechazar haga click <a id="activadorAviso">
			<a href="/quemepongo/eventos/sugerencias/rechazarPendientes?idEvento={{evento.id}}"><button type="submit"
					class="btn btn-primary" data-toggle="tooltip" data-placement="right"
					title="Las sugerencias que queden pendientes seran consideradas rechazadas">
					aqui
				</button></a>
	</div>
</div>
{{/if}}
<div>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">PRENDAS SUPERIORES</th>
				<th scope="col">PRENDA INFERIOR</th>
				<th scope="col">CALZADO</th>
				<th scope="col">ACCESORIO</th>
				<th scope="col">ESTADO</th>
			</tr>
		</thead>
		<tbody>
			{{#each sugerencias}}
			<tr>
				<th scope="row">{{@index}}</th>
				<td>
					{{#each atuendo.prendasSuperiores}}
					<h6 style="color:#444444"><u>Prenda Superior {{@index}}</u></h6>
					<ul>
						<li>Tipo de prenda: <b>{{tipoPrenda}}</b></li>
						<li>Tipo de tela: <b>{{tipoTela}}</b></li>
						<li>Color primario: <span style="color: {{colorPrimario.rgb}}">&#9632</span>
						</li>
						<li>Color secundario:
							{{#if colorSecundario}}
							<span style="color: {{colorSecundario.rgb}}">&#9632</span>
							{{else}}
							<b>N/A</b>
							{{/if}}
						</li>
					</ul>
					{{/each}}
				</td>
				<td>
					<ul>
						<li>Tipo de prenda: <b>{{atuendo.prendaInferior.tipoPrenda}}</b></li>
						<li>Tipo de tela: <b>{{atuendo.prendaInferior.tipoTela}}</b></li>
						<li>Color primario: <span
								style="color: {{atuendo.prendaInferior.colorPrimario.rgb}}">&#9632</span>
						</li>
						<li>Color secundario:
							{{#if atuendo.prendaInferior.colorSecundario}}
							<span style="color: {{atuendo.prendaInferior.colorSecundario.rgb}}">&#9632</span>
							{{else}}
							<b>N/A</b>
							{{/if}}
						</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Tipo de prenda: <b>{{atuendo.calzado.tipoPrenda}}</b></li>
						<li>Tipo de tela: <b>{{atuendo.calzado.tipoTela}}</b></li>
						<li>Color primario: <span style="color: {{atuendo.calzado.colorPrimario.rgb}}">&#9632</span>
						</li>
						<li>Color secundario:
							{{#if atuendo.calzado.colorSecundario}}
							<span style="color: {{atuendo.calzado.colorSecundario.rgb}}">&#9632</span>
							{{else}}
							<b>N/A</b>
							{{/if}}
						</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Tipo de prenda: <b>{{atuendo.accesorio.tipoPrenda}}</b></li>
						<li>Tipo de tela: <b>{{atuendo.accesorio.tipoTela}}</b></li>
						<li>Color primario: <span style="color: {{atuendo.accesorio.colorPrimario.rgb}}">&#9632</span>
						</li>
						<li>Color secundario:
							{{#if atuendo.accesorio.colorSecundario}}
							<span style="color: {{atuendo.accesorio.colorSecundario.rgb}}">&#9632</span>
							{{else}}
							<b>N/A</b>
							{{/if}}
						</li>
					</ul>
				</td>
				<td>
					<p style="text-align: center;">{{estado}}</p>
					<div style="display:flex; flex-direction: column; justify-content: stretch; ">
						<a
							href="/quemepongo/eventos/sugerencias/eleccion?idEvento={{evento.id}}&idSugerencia={{id}}&accion=aceptar">
							<button type="submit" class="btn btn-success" style="margin-bottom: 5px">Aceptar</button>
						</a>
						<a
							href="/quemepongo/eventos/sugerencias/eleccion?idEvento={{evento.id}}&idSugerencia={{id}}&accion=rechazar">
							<button type="submit" class="btn btn-danger">Rechazar</button>
						</a>
					</div>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>
{{/partial}} {{> layout.hbs}}