{{#partial "contenido"}}
<div>
	<div visibility: {{visibilidadNombreEvento}} style="align-content:center;text-align:center;margin-left:auto">
		<br>
		<br>
		<img src="/1.png" style="height:auto;width:40%"></img>
		<br>
		<h2>Nombre del evento</h2>
		<form method='post' action='/quemepongo/eventos/new/nombre'>
			<input name='nombreEvento' value="{{nombreEvento}}" style="width:20%; text-align:center"
				placeholder="Escriba aquí..." />
			<br>
			<br>
			<button type="submit">Continuar</button>
		</form>
	</div>
	<div visibility: {{visibilidadGuardarropas}} style="align-content:center;text-align:center;margin-left:auto">
		<br>
		<br>
		<img src="/2.png" style="height:auto;width:40%"></img>
		<br>
		<h2>Seleccionar Guardarropas</h2>
		<div style="width:50%; margin-left:auto; margin-right:auto">
			<table class="table" style="align-content:center;text-align:center">
				<thead style="align-content:center;text-align:center">
					<tr style="align-content:center;text-align:center">
						<th scope="col">#</th>
						<th scope="col">Guardarropa</th>
						<th scope="col">Seleccionar</th>
					</tr>
				</thead>
				<tbody>
					{{#each todosLosGuardarropas}}
					<tr>
						<th scope="row">{{@index}}</th>
						<td>{{nombreGuardarropas}}</td>
						<td>
							<form method="post" action="/quemepongo/eventos/new/guardarropas">
								<input type="hidden" name="guardarropas" value={{id}} />
								<button type="submit">Seleccionar</button>
							</form>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<br>
		<br>
	</div>
	<div visibility: {{visibilidadCalendario}} style="align-content:center;text-align:center;margin-left:auto">
		<br>
		<br>
		<img src="/3.png" style="height:auto;width:40%"></img>
		<br>
		<h2>Elija fecha del evento</h2>
		<form method='post' action='/quemepongo/eventos/new/fecha'>
			<input name='fechaEvento' value="{{fechaEvento}}" style="width:20%; text-align:center"
				placeholder="dd-mm-yyyy" />
			<br>
			<br>
			<button type="submit">Continuar</button>
		</form>
	</div>
	<div visibility: {{visibilidadConfirmacion}} style="align-content:center;text-align:center;margin-left:auto">
		<br>
		<br>
		<img src="/4.png" style="height:auto;width:40%"></img>
		<br>
		<h2>Ya falta poco, tu evento quedaria: </h2>
		<br>
		<h4> > Nombre evento: {{nombreEvento}}</h4>
		<br>
		<h4> > Guardarropas a usar: {{nombreGuardarropas}}</h4>
		<br>
		<h4> > Fecha seleccionada: {{fechaEvento}}</h4>
		<br>
		<a href="/quemepongo/eventos/new">
			<button>Cancelar</button>
		</a>
		{{#if todoOk}}
		<form method="post" action="/quemepongo/eventos/new">
			<button type="submit">Confirmar</button>
		</form>
		{{/if}}
	</div>
	<div visibility: {{visibilidadEventoOk}} style="align-content:center;text-align:center;margin-left:auto">
		<br>
		<br>
		<br>
		<h2>Evento creado con exito!<h2>
				<br>
				<br>
				<br>
				<a href="/quemepongo/eventos">
					<button>Volver al Inicio</button>
				</a>
	</div>
</div>
{{/partial}} {{> layout.hbs}}