{{#partial "contenido"}}
<div>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Tipo</th>
				<th scope="col">Tela</th>
				<th scope="col">Color Primario</th>
				<th scope="col">Color Secundario</th>
			</tr>
		</thead>
		<tbody>

			{{#each prendas}}
			<tr>
				<th scope="row">{{@index}}</th>
				<td>{{tipoPrenda}}</td>
				<td>{{tipoTela}}</td>
				<td style="color: {{colorPrimario.rgb}}; text-align: center; font-size: 4vh">&#9632</td>
				{{#if colorSecundario}}
				<td style="color: {{colorSecundario.rgb}}; text-align: center; font-size: 4vh">&#9899</td>
				{{else}}
				<td>----</td>
				{{/if}}
			</tr>
			{{/each}}

		</tbody>
	</table>
</div>
{{/partial}} {{> layout.hbs}}